{% load user_filters %}
{% if user.is_authenticated %}
<div class="card my-4">
	<h5 class="card-header">Добавить комментарий:</h5>
	<div class="card-body">
		<form method="post" action="{% url 'posts:add_comment' post.id %}">
			{% csrf_token %}
			<div class="form-group mb-2">
				{{ form.text|addclass:"form-control" }}
			</div>
			<button type="submit" class="btn btn-primary">Отправить</button>
		</form>
	</div>
</div>
{% endif %}
{% for comment in comments %}
<div class="card">
      <div class="card-header">
			<a class="btn btn-outline-dark"
         href="{% url 'posts:profile' comment.author.username %}">
				 <b><span>{{ comment.author.username }}</span> </b>
			</a>
      </div>
		<div class="card-body">
			{{ comment.text }}

	</div>
</div>
{% endfor %}