{% extends 'base.html' %}
{% block title %}
  Подписки
{% endblock %}
{% block heading %}
  Последние обновления избранных авторов
{% endblock %}
{% block content %}
  {% include 'posts/includes/switcher.html' with following=True %}
  {% load cache %}
  {% cache 20 index_page %}
    {% for post in page_obj %}
      {% include 'includes/post.html' %}
      <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a><br>
      {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {% endif %}
      {% if not forloop.last %}
        <hr>{% endif %}
    {% endfor %}
  {% endcache %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}

