{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Пост {{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <b>Дата публикации:</b> {{ post.pub_date }}
        </li>
        <li class="list-group-item">
          <b>Группа:</b>
          {% if post.group %}
            <a class="btn btn-outline-dark"
               href="{% url 'posts:group_list' post.group.slug %}"><b>{{ post.group.title }}</b></a>
          {% endif %}
        </li>
        <li class="list-group-item">
          <b>Автор:</b> {{ post.author.get_full_name }}
        </li>
        <li class="list-group-item">
          <b>Всего постов автора:</b>
          <a class="btn btn-outline-dark"
             href="{% url 'posts:profile' post.author.username %}">
            <span>{{ post.author.posts.count }}</span>
          </a>
        </li>
        <li class="list-group-item">

        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <div class="card my-4">
        <div class="card-header">
          <h3>Пост:</h3>
        </div>
        <div class="card-body">
          {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}" alt="some pic">
          {% endthumbnail %}
          {{ post.text|linebreaks }}
          {% if user == post.author %}
            <a class="btn btn-primary" href="{% url 'posts:post_edit' post.id %}">
            редактировать запись
          {% endif %}
          <a>
            {% include 'includes/comment.html' %}
          </a>
          </a>
        </div>
    </article>
  </div>
{% endblock %}